.tabel1{
    text-align: center;
    width: 100%;
    font-size: 20px;
    table-layout: initial;
}
body{
    background-color: rgb(192, 221, 221);
}
.tulisan{
    text-align:center;
    color:rgb(3, 0, 0);
    background-image: url(images/rumput.jpg);
    background-position: center;
    height: 75px;
    font-size: 16px;
    font-family: inherit;
    font-style: italic;   
}
.isi{
    color: rgba(4, 78, 7, 0.966);
    background-image: url(images/daun1.jpg);
    background-position: center;
    text-align: center;
    font-size: 25px;
    font-family: Times, 'Times New Roman', serif;
}
.who{
    font-size: 30px;
}
.foto{
    text-align: left;
    color: rgb(0, 63, 3);
}
.foto1{
    width: 200px;
    height: 200px;
    border-radius: 40px;
}
.nama{
 background-color: rgb(9, 49, 58);
 color: rgb(255, 255, 255);
 font-family: initial;
 font-style: normal;
 font-size: 20px;
}
.motto{
    font-family: 'Trebuchet MS';
    font-style: italic;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 75, 119);
    font-size: 18px;
}

/* Registrasi */
.regis{
    background-image: url(images/to.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}
.form{
    color: rgb(15, 32, 109)35);
    font-size: 35px;
    font-family: Georgia;
    font-style:italic;
}
.re{
    background-color: rgb(80, 114, 206);
    width: 255px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 4px;
    font-family:Georgia;
}
.yu{
    font-size: 50px;
    font-family:'Arial Narrow';   
    word-spacing: 20px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}
.ukm{
    background-color: rgb(158, 211, 211);
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    height: 155px;
}
.jud{
    color: rgb(0, 0, 0);
}
.registrasi{
    text-align: center;
}
.judul1{
    text-align: center;
    font-size: 50px;
    font-family:'Arial Narrow';   
    word-spacing: 20px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    background-image: url(images/daun.jpg);
}
.label1{
   font-size: 30px;
}
.label2{
    width: 153px;
    font-size: 25px;
    background-color: rgb(66, 214, 79);
}
.wkwk{
    font-size: 30px;
    font-style: italic;
    color: black;
}

.slide {
position:relative;
margin:0 auto;
width:1000px;
height:490px;
overflow:hidden
}

.slide input {
display:block;
position:absolute;
width:960px;
height:450px;
left:0;
top:0;
opacity:0;
cursor:pointer;
margin:0;
padding:0
}

.slide img {
visibility:hidden;
opacity:0;
height:450px;
position:absolute;
left:0;
top:0;
width:960px;
border:20px solid #ddd;
border-radius:20px;
transition:all .5s ease-out
}

.slide input:checked + img {
visibility:visible;
opacity:1
}

.slide input:checked { display:none }

.slide input:nth-child(1) { z-index:13 }
.slide input:nth-child(3) { z-index:12 }
.slide input:nth-child(5) { z-index:11 }
.slide input:nth-child(7) { z-index:10 }

.slide input:nth-child(1):checked ~ input:nth-child(3),
.slide input:nth-child(3):checked ~ input:nth-child(5),
.slide input:nth-child(5):checked ~ input:nth-child(7) { z-index:15 }
</style>